:root {
  --text-color: #1e1e1e; 
  --background-color: #f2f2f2;
  --card-bg: #ffffff;
  --accent-gradient-blue: linear-gradient(100deg, #0778f8, #a809b6);
 
  --navbar-bg: #fff; 

  --footer-text: #fff;
  --footer-bg: var(--accent-gradient-purple);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Almendra Display", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--background-color);
}

main {
  width: 90%;
  max-width: 800px;
  padding: 40px 20px;
}

.navbar {
  width: 100vw;
  background-color: var(--navbar-bg);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-title {
  /* font-family: "Fascinate Inline", system-ui; */
  /* font-family: "Major Mono Display", monospace; */
  font-family: "Abel", sans-serif;
  font-size: 45px;
  background: var(--accent-gradient-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-emphasis-color: transparent;
  letter-spacing: 1px;
  text-align: center;
  max-width: 90%;
}

.card {
  background-color: var(--card-bg);
  border-radius: 20px;
  box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  transition: transform 0.4s ease;
}